services:
  auto_up_resume_bot:
    container_name: auto_up_resume_bot
    build:
      context: .
    restart: always
    command: python main.py
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    networks:
      - nginx_net
    env_file:
      - .env
    volumes:
      - .:/auto_up_resume_bot
      - ./src/bot/logs:/src/bot/logs


networks:
  nginx_net:
    external: true
    driver:
      bridge
